.register{
    display: flex;
    flex-direction: column;
    align-content: center;
}
.register .aviso{
    color: #c60e09;
    margin-bottom: 15px;
    position: relative;
    bottom: 11px;
}
.register .titulo{
    margin: 10px 0;
    font-weight: 600;
    text-align: center;
    color: var(--celeste);
}
.register .date{
    text-align: center;
    border: 2px dashed var(--azul);
    border-radius: 5px;
}
.register .select{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.register .select .option{
    color: var(--grisOscuro);
}
.register .check{
    width: 12%;
}
.register .name-check{
    color: var(--grisOscuro);
    display: inline-block;
    width: 80%;
    margin-bottom: 15px;
}
.register .buttons{
    display: flex;
    justify-content: space-around;
}
.register button{
    width: 40%;
    color: #FFF;
    background-color: var(--celeste);
}

@media (min-width: 355px) {
    .register .select{
        flex-direction: row;
    }
}

@media (min-width: 576px) {
    
}

@media (min-width: 992px) {
    
}