<!DOCTYPE html>
<html lang="es">
<%- include('partials/head', {title: 'Login'}) %>
<body>
    <%- include('partials/headerNavbar') %>
    <main class="register">
        <form action="/" method="GET">
            <input class="text-data" type="text" name="usuario" id="" placeholder="Nombre de usuario">
            <span class="aviso">*Obligatorio</span>
            <input class="text-data" type="password" name="password" id="password" placeholder="Contraseña">
            <span class="aviso">*Obligatorio</span>
            <button class="button-login" type="submit">Enviar</button>
        </form>
    </main>
    <%- include('partials/footer') %>
</body>
</html>